@tailwind base;
@tailwind components;
@tailwind utilities;

.table-container {
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    max-width: 100%;
}

table {
    min-width: 1000px;
    white-space: nowrap;
}

th, td {
    text-align: left;
    padding: 8px;
    border-bottom: 1px solid #ddd;
}
